html, body {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

body {
	cursor: url(https://i.imgur.com/5v5M8gh.png), auto;
	background: url('img/bg1.jpg'); /*(https://goo.gl/jPMU7X');*/ 
	background-size: cover;
	background-repeat: none;
	display: flex;
	align-items: center;
	position: relative;
}
.firstclk {
	font-weight: 500;
	font-size: 28pt;
	font-family: 'Sacramento', cursive;
	color: #6d3842;
	cursor: pointer;
}
.layerMask {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: url('img/bg1.jpg'); /*('https://goo.gl/mcT1yC');*/
	background-size: cover;
	background-repeat: none;
}

.layerMask2 {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
	background-color: pink;
	background-size: cover;
	background-repeat: repeat-y;
}

.Description .sup{
	display: inline-block;
	color: #ea4335;
}
.drawHeart img {
	position:absolute;
	height: 100%;
	width: 100%;
}
span{
	display: inline-block;
	white-space: pre;
}

.Description .sup:hover{
	color: #ffb8c0;
}

.box {
	position: relative;
	display: inline-block;
}
.child {
	position: absolute;
	background-color: #f15371;
	width: 100%;
	height: 80%;
	top: 0;
	left: 0;
}

.me {
	font-size: 10pt;
	color: gray;
}

.author .me {
	cursor: default;
}
.author .me a{
	cursor: default;
	font-size: 4pt;
}

.music {
	display: none;
}

#crush {
	width: 100%;
	height: 37%;
}
.close-layerMask2:hover {
	color: #f4f4f4;
}


.pre-loader { 
    background: pink;
    background-position: center center;
    background-size: 13%;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 12345;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.pre-loader .loader-logo {
    padding-bottom: 15px
}

.pre-loader .loader-progress {
    height: 8px;
    border-radius: 15px;
    max-width: 200px;
    margin: 0 auto;
    display: block;
    background: #ecf0f4;
    overflow: hidden
}

.pre-loader .bar {
    width: 0%;
    height: 8px;
    display: block;
    background: red
}

.pre-loader .percent {
    text-align: center;
    font-size: 24px;
    display: none
}

.pre-loader .loading-text {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    padding-top: 15px;
    color: #000
} */

.heart-rate {
	width: 150px;
	height: 73px;
	position: relative;
	margin: 20px auto;
}

.fade-in {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000;
	top: 0;
	right: 0;
	animation: heartRateIn 2.5s linear infinite;
}

.fade-out {
	position: absolute;
	width: 120%;
	height: 100%;
	top: 0;
	left: -120%;
	animation: heartRateOut 2.5s linear infinite;
	background: rgb(252, 72, 72);
	background: -moz-linear-gradient(left, rgb(245, 77, 77) 0%, rgb(245, 77, 77) 50%, rgb(245, 77, 77) 100%);
	background: -webkit-linear-gradient(left, rgb(245, 77, 77) 0%, rgb(245, 77, 77) 50%, rgb(245, 77, 77) 100%);
	background: -o-linear-gradient(left, rgb(245, 77, 77) 0%, rgb(245, 77, 77) 50%, rgb(245, 77, 77) 100%);
	background: -ms-linear-gradient(left, rgb(245, 77, 77) 0%, rgb(245, 77, 77) 50%, rgb(245, 77, 77) 100%);
	background: linear-gradient(to right, rgb(245, 77, 77) 0%, rgb(245, 77, 77) 80%, rgb(245, 77, 77) 100%);
  }

  @keyframes heartRateIn {
	0% {
	  width: 100%;
	}
	50% {
	  width: 0;
	}
	100% {
	  width: 0;
	}
  }
  @keyframes heartRateOut {
	0% {
	  left: -120%;
	}
	30% {
	  left: -120%;
	}
	100% {
	  left: 0;
	}
    }